version: '3.8'

services:
  # --- TU APLICACIÓN NESTJS ---
  app:
    build: .
    ports:
      - "${PORT}:${PORT}"
    environment:
      # Configuración de Base de Datos
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
      - PORT=${PORT}
    depends_on:
      - db
    networks:
      - ml-network

  # --- TU BASE DE DATOS ---
  db:
    image: postgres:16-alpine
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: prototipo_db
    ports:
      - "${DB_PORT}:${DB_PORT}"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - ml-network

volumes:
  postgres_data:

networks:
  ml-network: